
 body {
  /* background-image:linear-gradient(to right top, #000f27, #243756, #4b638b, #7392c3, #9ec5ff); */
  background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

  /* background-color: #d3d3d3 !important; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(9px);
  min-height: 100%;
  position: relative;

  /* filter: blur(8px);
   -webkit-filter: blur(8px);  */
   }



header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: #000000;
  margin: 0 auto;
  text-align: center;
  color: #f9f9f9;
  z-index: 1;
}
::placeholder {
  color: #212121;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  top: 50%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000 !important;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0) !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.card {
  z-index: 0 !important;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #dad8d8;
  color: rgb(0, 0, 0);
  
}

/* Modal Body */
.modal-body {padding: 2px 16px 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #ffffff;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftcontrol {
float: left;
}

.rightcontrol {
float: right;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


#youtube-id {
  z-index: 0;
}

#bthide {
  z-index: 0;
}
.containers {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 1.5em;
  height: 5px;
  padding-left: 20px !important;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0); /*background of menu */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  color: #f9f9f9;
  z-index: 1;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 11px;
  
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  height: 2em;
  
}

.topnav a.icon {
  background: rgb(86, 75, 136);
  display: block;
  position: absolute;
  right: 50;
  top: 0;

}

.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.active {
  background-color: #000000;
  color: white;
}

.navbar-logo-img {
  height: 45px;

}

.navbar-brand {
  font-size: 26px !important;
}
/* .card {
  create a custom class so you 
     do not run into specificity issues 
     against bootstraps styles
     which tends to work better than using !important 
     (future you will thank you fuck ulater)
  
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
  } */

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .about-section {
    padding: 5px;
    text-align: center;
    background-color: #06308b;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  /* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  .title {
    color: rgb(0, 0, 0) !important;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }